/*
    author : Buchita Gitchamnan
    Assignment topic : TakeAway
*/

.navbar
{
    background-color: pink;
    margin-bottom: 0; 
    border: 0;

}

.navbar-nav li a:hover, .navbar-nav li.active a
{
    background-color: #fff !important;
}
